<%= form_for @post do |p| %>

  <div class="form-group">
    <%= p.label :title %>
    <%= p.text_field :title, :class => 'form-control', :autofocus => true %>
  </div>

  <div class="form-group">
    <%= p.label :example, 'Code Example' %>
    <%= p.text_area :example, :class => 'form-control', :required => true, :placeholder => 'Enter your code snippet here'%>
  </div>

  <div class="form-group">
    <%= p.label :content, 'Explantion / Study notes' %>
    <%= p.text_area :content, :class => 'form-control' %>
  </div>

  <%= p.submit :class => 'btn-lg btn-outline-success' %>
<% end %>
