<h1><%= @post.title %></h1>

<div class="">
  <%=  @post.example %>
</div>

<div class="">
  <ul>
    <li><%= @post.content %></li>
  </ul>
</div>

<div class="">
  <ul>
    <li>Posted by: <%= @post.user_id %></li>
    <li>Posted: <%= @post.created_at.strftime '%a, %d, %B, %Y' %></li>
    <li></li>
  </ul>
</div>

<div class="">
  <h2>Comments</h2>
  <%= render @post.comments %>
</div>

<div class="">
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>

<div class="controls">
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <%= button_to 'Delete post', @post, :method => 'delete' %>
</div>
